body {

	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(209, 209, 209) 25%, rgba(33,244,0,1) 100%);
}

.nav-bar {
	margin-top: -10px;
}

div h1 {
	color: white;	
}

.grid {
	background-color: #e7e7e7;
	width: 80vw;
	height: 90vh;
	box-shadow: 3px 2px 25px -4px gray;
}
